<app-page-header [headerData]="headerData.data"></app-page-header>
<div class="container-fluid">
  <div class="ar-page-content">
    <div class="row h-100 overflow-hidden">
      <div class="col-md-6 pt-3 h-100 overflow-y-auto">
        <h5 class="fw-bold pb-2 ar-heading">Art</h5>
        <div class="card-group pt-2">
          @if (art$ | async; as artwork) {
          <app-job-card [job_id]="WAREHOUSE_JOB_ID"></app-job-card>
          }
        </div>
      </div>
      <div class="col-md-6 pt-3 h-100 overflow-y-auto">
        <h5 class="fw-bold pb-2 ar-heading">Jobs</h5>
        <div class="card-group pt-2">
          @if (jobs$ | async; as assignedJobs) { @for (job of assignedJobs; track $index) {
          <app-job-card [job_id]="job.job_id"></app-job-card>
          } }
        </div>
      </div>
    </div>
  </div>
  <app-page-footer [footerData]="footerData"></app-page-footer>
</div>
