<app-page-header [headerData]="headerData"></app-page-header>
<div class="container-fluid p-3 ar-page-content-no-menubar overflow-y-auto">
  @if (job$ | async; as job) {
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h5 class="fw-bold pb-2 ar-heading">Job ID:</h5>
      <p class="pb-4">{{ job.job_id }}</p>
      <h5 class="fw-bold pb-2 ar-heading">Job Site:</h5>
      <p class="pb-4">
        @if (job.site) { @if (job.site.name) {
        {{ job.site.name }}<br />
        }
        {{ job.site.address1 }}<br />
        @if (job.site.address2) {
        {{ job.site.address2 }}<br />
        }
        {{ job.site.city }}, {{ job.site.state }} {{ job.site.zip_code }}
        }
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h5 class="fw-bold pb-2 ar-heading">Client:</h5>
      <p class="pb-4">
        <a href="#" [routerLink]="`/clients/${job.client_id}` ">{{ job.client?.name }}</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-contacts-table [rows]="rows" [columns]="columns"></app-contacts-table>
      <p class="pb-4"></p>
      <h5 class="fw-bold pb-2 ar-heading">Art:</h5>
      @if (job.art && job.art.length) {
      <div class="card-group ar-card-group overflow-y-auto">
        @for (art of job.art; track $index) {
        <app-card
          [cardData]="{
            imageData: { source: art.url, alt: art.name, title: art.name },
            title: art.name,
            text: art.artist,
            clickHandler: navigateToArtDetail.bind(null, art.art_id)
          }"
          class="mt-3 ms-3"
        ></app-card>
        }
      </div>
      }
    </div>
  </div>
  }
</div>

<ng-template #nameTemplate let-row="row">
  @if (row.first_name && row.last_name) {
  {{ row.first_name }} {{ row.last_name }}
  }
</ng-template>
