<app-page-header [headerData]="headerData"></app-page-header>
<div class="container-fluid p-3 ar-page-content-no-menubar overflow-y-auto">
  <div class="row">
    <div class="col">
      @if (job$ | async; as job) {
      <h5 class="pb-4"><span class="fw-bold">Job ID: </span>{{ job.id }}</h5>
      <h5 class="pb-4">
        <span class="fw-bold">Client: </span>
        <a href="#" [routerLink]="`/clients/${job.clientId}` ">{{ job.clientName }}</a>
      </h5>
      <h5 class="fw-bold">Job Site:</h5>
      <p class="pb-4">
        {{ job.address1 }}<br />
        @if (job.address2) {
        {{ job.address2 }}<br />
        }
        {{ job.city }}, {{ job.state }} {{ job.zipCode }}
      </p>
      }
    </div>
  </div>
</div>
