<h5 class="fw-bold pb-2 ar-heading">Contacts:</h5>
<ngx-datatable
  #contactsTable
  class="material mt-3"
  [rows]="rows"
  [columns]="columns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [rowHeight]="50"
  [scrollbarV]="true"
>
  <ngx-datatable-row-detail [rowHeight]="50">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      @if (row.client?.name && row.phone) {
      <div class="row-detail-container">
        <div>{{ row.client?.name }}, {{ row.phone }}</div>
      </div>
      }
    </ng-template>
  </ngx-datatable-row-detail>
</ngx-datatable>

<ng-template #arrowTemplate let-row="row" let-expanded="expanded">
  <a
    [class.bi-chevron-right]="!expanded"
    [class.bi-chevron-down]="expanded"
    title="Expand/Collapse Row"
    (click)="toggleExpandRow(row)"
    class="desktop-hidden bi"
  ></a>
</ng-template>

<ng-template #nameTemplate let-row="row">
  @if (row.first_name && row.last_name) {
  {{ row.first_name }} {{ row.last_name }}
  }
</ng-template>

<ng-template #clientNameHeaderTemplate let-column="column">
  <span class="mobile-hidden">{{ column.name }}</span>
</ng-template>

<ng-template #clientNameTemplate let-row="row">
  <span class="mobile-hidden">{{ row.client?.name }}</span>
</ng-template>

<ng-template #phoneHeaderTemplate let-column="column">
  <span class="mobile-hidden">{{ column.name }}</span>
</ng-template>

<ng-template #phoneTemplate let-value="value">
  <span class="mobile-hidden">{{ value }}</span>
</ng-template>
