:host {
  @media (min-width: 576px) {
    margin-left: 1rem;
  }
}

.ar-thumbnail-card__container {
  --ar-art-thumbnail-card-side: 94px;
  --ar-art-thumbnail-card-border-radius: 6px;

  width: var(--ar-art-thumbnail-card-side);
  text-align: center;

  .ar-thumbnail-card {
    height: var(--ar-art-thumbnail-card-side);
    border-radius: var(--ar-art-thumbnail-card-border-radius);
    border: 1px solid var(--ar-border-color);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);

    .ar-thumbnail-rounded {
      border-radius: var(--ar-art-thumbnail-card-border-radius);
    }

    &:hover {
      cursor: pointer;
    }
  }

  p {
    font-size: 0.75rem;
  }
}
