<app-page-header [headerData]="headerData.data"></app-page-header>
<div class="container-fluid gx-0 overflow-x-hidden">
  <div class="row overflow-y-hidden ar-page-content mx-0">
    <ngx-datatable
      #sitesTable
      class="material"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [rowHeight]="50"
      [scrollbarV]="true"
      (activate)="onActivate($event)"
    >
      <ngx-datatable-row-detail [rowHeight]="50">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div class="row-detail-container">
            <div>
              @if (row.address1 && row.city && row.state && row.zip_code) {
              {{ row.address1 }}, @if (row.address2) { {{ row.address2 }}, } {{ row.city }},
              {{ row.state }} {{ row.zip_code }}
              }
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
    </ngx-datatable>
  </div>
  <app-buttonbar [buttonbarData]="footerData"></app-buttonbar>
</div>

<ng-template #arrowTemplate let-row="row" let-expanded="expanded">
  <a
    [class.bi-chevron-right]="!expanded"
    [class.bi-chevron-down]="expanded"
    title="Expand/Collapse Row"
    (click)="toggleExpandRow(row)"
    class="desktop-hidden bi"
  ></a>
</ng-template>

<ng-template #siteNameTemplate let-row="row"> @if (row.name) { {{ row.name }} } </ng-template>

<ng-template #siteAddressHeaderTemplate let-column="column">
  <span class="mobile-hidden">{{ column.name }}</span>
</ng-template>

<ng-template #siteAddressTemplate let-value="value" let-row="row">
  <span class="mobile-hidden">
    @if (row.address1 && row.city && row.state && row.zip_code) {
    {{ row.address1 }}, @if (row.address2) { {{ row.address2 }}, } {{ row.city }}, {{ row.state }}
    {{ row.zip_code }}
    }
  </span>
</ng-template>

<ng-template #clientNameTemplate let-row="row">
  @if (row.client.name) {
  <span class="mobile-hidden">{{ row.client.name }}</span>
  }
</ng-template>

<ng-template #clientNameHeaderTemplate let-column="column">
  <span class="mobile-hidden">{{ column.name }}</span>
</ng-template>
