@use '../../../../sass/datatable';
@use '../../../../sass/row-detail';

@media (max-width: 767px) {
  ::ng-deep ngx-datatable {
    // hide Site Address and Client sort arrows because ngx-datatable is broken and doesn't do this
    // WARNING: BRITTLE! must adjust if columns change - haven't found an unbrittle solution
    .datatable-header-cell:nth-of-type(3) .sort-btn,
    .datatable-header-cell:nth-of-type(4) .sort-btn {
      display: none;
    }
  }
}
