.ar-card {
  --ar-card-width: 20rem;
  --ar-card-border-radius: 0.375rem;
  --ar-card-side-length: 150px;
  --ar-card-footer-height: 45px;
  --ar-card-footer-line-height: 2rem;

  width: var(--ar-card-width);
  border: 1px solid var(--ar-border-color);
  border-radius: var(--ar-card-border-radius);
  color: var(--ar-text-color-primary-light);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);

  &:hover {
    cursor: pointer;
  }

  .ar-img-container {
    width: var(--ar-card-side-length);
    height: var(--ar-card-side-length);
    border-right: 1px solid #ccc;

    img {
      object-fit: cover;
      width: calc(var(--ar-card-width) / 2);
    }

    .ar-rounded-start {
      border-top-left-radius: var(--ar-card-border-radius);
    }
  }

  .ar-text-container {
    height: var(--ar-card-side-length);
  }

  .ar-card-footer {
    height: var(--ar-card-footer-height);
    line-height: var(--ar-card-footer-line-height);

    .ar-card-footer-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .ar-form-check-input {
    border: 1px solid var(--ar-border-color);
  }
}
