<div class="card ar-card" (click)="cardData().clickHandler($event)">
  <div class="row g-0">
    <div class="col-1 ar-img-container">
      <img
        src="{{ cardData().imageData.source }}"
        class="img-fluid ar-rounded-start h-100"
        alt="{{ cardData().imageData.alt }}"
        title="{{ cardData().imageData.title }}"
      />
    </div>
    <div class="col ar-text-container overflow-y-auto">
      <div class="card-body">
        <h6 class="card-title fw-bold">{{ cardData().title }}</h6>
        <p class="card-text fst-italic">
          {{ cardData().text }}
        </p>
      </div>
    </div>
  </div>
  <div class="row g-0">
    <div class="card-footer ar-card-footer" id="cardFooter">
      <div [innerHTML]="cardData().footerText"></div>
    </div>
  </div>
</div>
