:host:last-of-type {
  margin-bottom: 1rem;
}

.ar-card {
  --ar-card-width: 18rem;
  --ar-card-height: calc(var(--ar-card-width) / 2);
  --ar-card-border-radius: 0.375rem;

  width: var(--ar-card-width);
  border: 1px solid var(--ar-border-color);
  border-radius: var(--ar-card-border-radius);
  color: var(--ar-text-color-primary-light);

  .ar-img-container {
    height: calc(var(--ar-card-height) - var(--bs-card-border-width));

    img {
      object-fit: cover;
      width: calc(var(--ar-card-width) / 2);
    }

    .ar-rounded-start {
      border-top-left-radius: var(--ar-card-border-radius);
    }
  }

  .ar-text-container {
    height: calc(var(--ar-card-height) - var(--bs-card-border-width));
  }

  .ar-form-check-input {
    border: 1px solid var(--ar-border-color);
  }
}
