:host:last-of-type {
  margin-bottom: 1rem;
}

.ar-card {
  --ar-card-width: 20rem;
  --ar-card-border-radius: 0.375rem;
  --ar-card-side-length: 150px;

  width: var(--ar-card-width);
  border: 1px solid var(--ar-border-color);
  border-radius: var(--ar-card-border-radius);
  color: var(--ar-text-color-primary-light);

  .ar-img-container {
    width: var(--ar-card-side-length);
    height: var(--ar-card-side-length);
    border-right: 1px solid #ccc;

    img {
      object-fit: cover;
      width: calc(var(--ar-card-width) / 2);
    }

    .ar-rounded-start {
      border-top-left-radius: var(--ar-card-border-radius);
    }
  }

  .ar-text-container {
    height: var(--ar-card-side-length);
  }

  .ar-form-check-input {
    border: 1px solid var(--ar-border-color);
  }
}
