::ng-deep ngx-datatable {
  flex-grow: 1;

  .visible {
    height: 100%;
    display: flex;
    flex-direction: column;

    .datatable-body {
      flex-basis: 100%;

      max-height: calc(
        100vh - var(--ar-navbar-height) - var(--ar-page-header-height) -
          var(--ar-table-header-height)
      ) !important;
      overflow: hidden auto;
    }
  }

  &.ngx-datatable.material.single-selection .datatable-body-row.active,
  &.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
  &.ngx-datatable.material.multi-selection .datatable-body-row.active,
  &.ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group,
  &.ngx-datatable.material.multi-click-selection .datatable-body-row.active,
  &.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group,
  &.ngx-datatable.material.single-selection .datatable-body-row.active:hover,
  &.ngx-datatable.material.single-selection .datatable-body-row.active:hover .datatable-row-group,
  &.ngx-datatable.material.multi-selection .datatable-body-row.active:hover,
  &.ngx-datatable.material.multi-selection .datatable-body-row.active:hover .datatable-row-group,
  &.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover,
  &.ngx-datatable.material.multi-click-selection
    .datatable-body-row.active:hover
    .datatable-row-group {
    background-color: transparent;
  }
}
