::ng-deep ngx-datatable {
  flex-grow: 1;

  .visible {
    height: 100%;
    display: flex;
    flex-direction: column;

    .datatable-body {
      flex-basis: 100%;

      max-height: calc(
        100vh - var(--ar-navbar-height) - var(--ar-page-header-height) -
          var(--ar-table-header-height)
      ) !important;
      overflow: hidden auto;

      .datatable-body-row {
        cursor: pointer;
      }

      .datatable-body-cell-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &.ngx-datatable.material.single-selection .datatable-body-row.active,
  &.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
  &.ngx-datatable.material.multi-selection .datatable-body-row.active,
  &.ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group,
  &.ngx-datatable.material.multi-click-selection .datatable-body-row.active,
  &.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group,
  &.ngx-datatable.material.single-selection .datatable-body-row.active:hover,
  &.ngx-datatable.material.single-selection .datatable-body-row.active:hover .datatable-row-group,
  &.ngx-datatable.material.multi-selection .datatable-body-row.active:hover,
  &.ngx-datatable.material.multi-selection .datatable-body-row.active:hover .datatable-row-group,
  &.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover,
  &.ngx-datatable.material.multi-click-selection
    .datatable-body-row.active:hover
    .datatable-row-group {
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  ::ng-deep ngx-datatable {
    .datatable-body-row .datatable-body-cell:first-of-type,
    .datatable-header .datatable-header-cell:first-of-type {
      width: 0 !important;
      padding: 0 !important;
    }
  }
}
