<app-page-header [headerData]="headerData"></app-page-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 ar-page-content-no-menubar p-3 ar-art">
      <div class="ar-art-detail__image-container">
        <img
          src="{{ art.full_size_path }}/{{ art.file }}"
          class="img-fluid ar-rounded-start h-100"
          alt="{{ art.name }}"
          title="{{ art.name }}"
        />
      </div>
    </div>
    <div class="col-sm-12 col-md-6 ar-page-content-no-menubar overflow-y-auto p-3 ar-art">
      <h5 class="fw-bold pb-2 ar-heading">Title</h5>
      @if (art.name) {
      <p class="pb-4">{{ art.name }}</p>
      } @else {
      <p class="pb-4">Untitled</p>
      }
      <h5 class="fw-bold pb-2 ar-heading">Artist</h5>
      @if (art.artist) {
      <p class="pb-4">{{ art.artist }}</p>
      } @else {
      <p class="pb-4">Unknown</p>
      }
      <h5 class="fw-bold pb-2 ar-heading">Job</h5>
      @if (art.job) {
      <p class="mb-0">
        <a class="fw-bold" href="#" [routerLink]="`/jobs/${art.job.id}`">{{ art.job.id }}</a>
      </p>
      <p class="mb-0">{{ art.job.address1 }}</p>
      @if (art.job.address2) {
      <p class="mb-0">{{ art.job.address2 }}</p>
      }
      <p>{{ art.job.city }}, {{ art.job.state }} {{ art.job.zip_code }}</p>
      } @else {
      <p class="pb-4">No job</p>
      }
    </div>
  </div>
</div>
