@use '../../../../sass/datatable';
@use '../../../../sass/row-detail';

@media (max-width: 767px) {
  ::ng-deep ngx-datatable {
    .datatable-header-cell:nth-of-type(n + 3) .sort-btn {
      display: none;
    }

    // have the second column (first after the row detail arrow column) take up the entire width
    .datatable-body-cell:nth-of-type(2) {
      flex-grow: 1 !important;
    }
    .datatable-body-cell:nth-of-type(n + 3) {
      width: 0 !important;
      padding: 0 !important;
    }
  }
}
