@use '../../../../sass/datatable';
@use '../../../../sass/row-detail';

@media (max-width: 767px) {
  ::ng-deep ngx-datatable {
    // hide Location and Business sort arrows because ngx-datatable is broken and doesn't do this
    // WARNING: BRITTLE! must adjust if columns change - haven't found an unbrittle solution
    .datatable-header-cell:nth-of-type(3) .sort-btn,
    .datatable-header-cell:nth-of-type(4) .sort-btn {
      display: none;
    }

    // have the second column (first after the row detail arrow column) take up the entire width
    .datatable-body-cell:nth-of-type(2) {
      flex-grow: 1 !important;
    }
    .datatable-body-cell:nth-of-type(3),
    .datatable-body-cell:nth-of-type(4) {
      width: 0 !important;
      padding: 0 !important;
    }
  }
}
