:host {
  border-right: 1px solid var(--ar-border-color);
}

.explorer-list-container {
  height: calc(100vh - var(--ar-navbar-height));
  display: flex;
  flex-direction: column;
}

.explorer-list-heading {
  padding: 1rem;
  height: var(--ar-list-header-height);
  border-bottom: 1px solid var(--ar-border-color);

  h3 {
    color: var(--ar-text-color-primary);
  }
}

.explorer-list-content {
  flex: 1;
  height: calc(100vh - var(--ar-navbar-height) - var(--ar-list-header-height));
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;

  p {
    color: var(--ar-text-color-primary);
  }
}

.explorer-list {
  padding-left: 0;
}
