:host:last-of-type {
  margin-bottom: 0;
}

.ar-job-card__container {
  --ar-job-card-side: 346px;
  --ar-job-card-min-height: 125px;
  --ar-job-card-border-radius: 6px;

  text-align: center;

  .ar-job-card {
    min-height: var(--ar-job-card-min-height);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);

    @media (max-width: 767px) {
      .ar-job-card__content > * {
        width: auto;
        margin: auto;
      }
    }

    .hover:hover {
      cursor: pointer;
    }
  }

  .droppable {
    background-color: rgba(32, 11, 224, 0.1);
  }

  .ar-job-card-footer {
    min-height: 2.625rem;

    @media (max-width: 767px) {
      p {
        font-size: 0.75rem;
      }
    }
  }
}
