<div class="row pb-3 page-footer">
  <div class="col-12 px-0">
    <h5 class="pt-0 ar-heading"></h5>
    <div class="pt-2 text-center">
      @for (button of footerData().buttons; track $index) { @if (button.clickHandler) {
      <button
        id="{{ button.id }}"
        type="{{ button.type }}"
        class="{{ button.buttonClass }}"
        (click)="button.clickHandler()"
        [disabled]="button.disabled"
        [attr.data-bs-toggle]="button.dataBsToggle"
        [attr.data-bs-target]="button.dataBsTarget"
        [innerHTML]="button.label"
      ></button>
      } @else {
      <button
        id="{{ button.id }}"
        type="{{ button.type }}"
        class="{{ button.buttonClass }}"
        [disabled]="button.disabled"
        [attr.data-bs-toggle]="button.dataBsToggle"
        [attr.data-bs-target]="button.dataBsTarget"
        [innerHTML]="button.label"
      ></button>
      } }
    </div>
  </div>
</div>
