<div class="row">
  <div class="col-12 px-0">
    <div class="border-top d-flex flex-wrap justify-content-center pt-2">
      @if (footerData().buttons && footerData().buttons.length) {
        @for (button of footerData().buttons; track $index) {
          @if (button.clickHandler) {
            <button
              id="{{ button.id }}"
              type="{{ button.type }}"
              class="{{ button.buttonClass }} mb-2"
              (click)="button.clickHandler()"
              [disabled]="button.disabled"
              [attr.data-bs-toggle]="button.dataBsToggle"
              [attr.data-bs-target]="button.dataBsTarget"
              [innerHTML]="button.label"
            ></button>
          } @else {
            <button
              id="{{ button.id }}"
              type="{{ button.type }}"
              class="{{ button.buttonClass }} mb-2"
              [disabled]="button.disabled"
              [attr.data-bs-toggle]="button.dataBsToggle"
              [attr.data-bs-target]="button.dataBsTarget"
              [innerHTML]="button.label"
            ></button>
          }
        }
      } @else {
        <button class="btn mb-2" style="visibility: hidden">&nbsp;</button>
      }
    </div>
  </div>
</div>
