:host {
  flex: 1;
}

.explorer-item-detail-content {
  padding: var(--default-padding);
}

.explorer-list-detail-heading {
  padding-bottom: var(--default-padding);
  color: var(--default-text-color);
}
