:host {
  border-right: 1px solid var(--ar-border-color);
}

.art-list-container {
  height: calc(100vh - var(--ar-navbar-height));

  .art-list-heading {
    height: var(--ar-list-header-height);
    border-bottom: 1px solid var(--ar-border-color);
    padding: 0.25rem 0 0 1rem;
    background-color: #eee;

    h3 {
      color: var(--ar-text-color-primary);
    }
  }

  .art-list-content {
    height: calc(100vh - var(--ar-navbar-height) - var(--ar-list-header-height));

    p {
      color: var(--ar-text-color-primary);
    }
  }
}
