:host {
  border-right: 1px solid var(--default-border-color);
}

.art-list-container {
  height: calc(100vh - var(--header-height));

  .art-list-heading {
    height: var(--explorer-list-header-height);
    border-bottom: 1px solid var(--default-border-color);

    h3 {
      color: var(--default-text-color);
    }
  }

  .art-list-content {
    height: calc(100vh - var(--header-height) - var(--explorer-list-header-height));

    p {
      color: var(--default-text-color);
    }
  }
}
