:host {
  height: var(--header-height);
  border-bottom: 1px solid var(--default-border-color);
  background-color: #4444a7;
}

.header-content {
  padding: var(--default-padding);

  h1 {
    color: white;
    padding-top: 1rem;
  }
}
