:host {
  height: var(--header-height);
  border-bottom: 1px solid var(--default-border-color);
  background-color: #c5276a;
  display: block;
}

.header-content {
  padding: var(--default-padding);
  height: 100%;

  h1 {
    color: white;
  }
}
