<app-page-header [headerData]="headerData.data"></app-page-header>
<div class="container-fluid">
  <form
    [formGroup]="jobForm"
    (ngSubmit)="onSubmit()"
    class="needs-validation"
    [class.was-validated]="submitted && jobForm.invalid"
    novalidate
  >
    <div class="row ar-page-content overflow-y-auto">
      <div class="col-12 d-flex flex-column py-3">
        <p>Please complete all required fields (<span class="text-danger">*</span>).</p>
        <p>
          Jobs are assigned to clients. You must
          <a href="#" [routerLink]="'/clients/add'">add a client</a> before you can create a job.
        </p>
        <div class="row flex-grow-1">
          <div class="col-12">
            <div class="row">
              <h5 class="fw-bold pb-2 ar-heading ar-inset">Step 1</h5>
              <section class="row">
                <div class="col-md-6">
                  <label for="client_id" class="col-form-label"
                    >Job number <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    id="job_number"
                    formControlName="job_number"
                    aria-describedby="job_number"
                    class="form-control"
                    required
                  />
                  <div class="invalid-feedback">Please enter a job number.</div>
                </div>
                <div class="col-md-6">
                  <label for="client_id" class="col-form-label"
                    >Client <span class="text-danger">*</span></label
                  >
                  <select
                    class="form-select"
                    name="client_id"
                    id="client_id"
                    formControlName="client_id"
                    (change)="onSelectClient($event)"
                    required
                  >
                    <option value="">Select a client...</option>
                    @if (clients$ | async; as clients) { @for (client of clients; track $index) {
                    <option value="{{ client.client_id }}">{{ client.name }}</option>
                    } }
                  </select>
                  <div class="invalid-feedback">Please select a client.</div>
                </div>
              </section>
              <h5 class="fw-bold pb-2 pt-4 ar-heading ar-inset">Step 2</h5>
              <section class="row">
                <div class="col-md-6">
                  <label for="site_id" class="col-form-label"
                    >Job site <span class="text-danger">*</span></label
                  >
                  <select
                    class="form-select"
                    name="site_id"
                    id="site_id"
                    formControlName="site_id"
                    (change)="onSelectSite($event)"
                    required
                  >
                    <option value="">Select a job site...</option>
                  </select>
                  <div class="invalid-feedback">Please select a job site.</div>
                </div>
              </section>
              <h5 class="fw-bold pb-2 pt-4 ar-heading ar-inset">Step 3</h5>
              <section class="row">
                <div class="col-md-6">
                  <label for="contact_ids" class="col-form-label"
                    >Contacts for the job <span class="text-danger">*</span></label
                  >
                  <select
                    class="form-select"
                    name="contact_ids"
                    id="contact_ids"
                    formControlName="contact_ids"
                    multiple
                    required
                  ></select>
                  <div class="invalid-feedback">Please select one or more contacts.</div>
                </div>
                <div class="col-md-6">
                  <label for="art_ids" class="col-form-label"
                    >Art for the job <span class="text-danger">*</span></label
                  >
                  <select
                    class="form-select"
                    name="art_ids"
                    id="art_ids"
                    formControlName="art_ids"
                    multiple
                    required
                  ></select>
                  <div class="invalid-feedback">Please select art for the job.</div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-page-footer [footerData]="footerData"></app-page-footer>
  </form>
</div>

<div
  class="modal"
  id="confirmModal"
  tabindex="-1"
  aria-labelledby="confirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmModalLabel">Are you sure?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to reset the form? All changes will be lost.
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="onClickReset()"
        >
          Yes, reset
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
