<nav class="navbar navbar-expand-md ar-navbar fixed-top">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between w-100 ar-navbar-controls">
      <div class="row ar-navbar-brand">
        <div class="col-12 col-sm-6">
          <span class="pe-3">Unforgettable</span>
        </div>
        <div class="col-12 col-sm-6">
          <span>Occasions</span>
        </div>
      </div>
      <div class="pe-2">
        <button
          #navbarToggler
          class="navbar-toggler ar-navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#arNavbarSupportedContent"
          aria-controls="arNavbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon ar-navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="arNavbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-0 align-items-baseline">
        <li class="nav-item">
          <a class="nav-link ar-nav-link" routerLink="/art" (click)="onClickNavLink($event)">Art</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ar-nav-link" routerLink="/artists" (click)="onClickNavLink($event)"
            >Artists</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link ar-nav-link" routerLink="/clients" (click)="onClickNavLink($event)"
            >Clients</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link ar-nav-link" routerLink="/contacts" (click)="onClickNavLink($event)"
            >Contacts</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link ar-nav-link" routerLink="/jobs" (click)="onClickNavLink($event)"
            >Jobs</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link ar-nav-link" routerLink="/jobs2" (click)="onClickNavLink($event)"
            >Jobs2</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link ar-nav-link" routerLink="/sites" (click)="onClickNavLink($event)"
            >Sites</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
