.ar-navbar {
  --ar-navbar-bg: #5d0797;
  --ar-navbar-brand-color: #ededed;
  --ar-navbar-toggler-color: #ededed;
  --ar-navlink-color: white;
  --ar-navlink-active-font-size: 1.25rem;

  // can't set a height on the navbar, or the toggle button won't show the menu properly (a Bootstrap thing)
  background-color: var(--ar-navbar-bg);

  // however, can set a height on an area within the navbar, to ensure a fixed navbar height for the body top padding
  .ar-navbar-controls {
    height: calc(var(--ar-navbar-height) - (2 * var(--bs-navbar-padding-y)));
  }

  .ar-navbar-brand {
    color: var(--ar-navbar-brand-color);

    span {
      font-family: 'Kranky', serif;
      font-size: var(--ar-navbar-brand-font-size-small);
      font-weight: 700;
      font-style: normal;

      @media (min-width: 576px) {
        font-size: var(--ar-navbar-brand-font-size);
      }
    }
  }

  .ar-navbar-toggler {
    padding: 0.25rem 0.375rem;
    background-color: var(--ar-navbar-toggler-color);
    border: none;
    font-size: inherit;

    &:focus {
      box-shadow: 0 0 0 1px;
    }
  }

  .ar-nav-link {
    color: var(--ar-navlink-color);
    cursor: pointer;

    &.active {
      font-size: var(--ar-navlink-active-font-size);
      font-weight: 700;
      text-decoration: underline;
      text-underline-offset: 6px;
    }
  }
}
