<div class="ar-page-header p-2 ps-3">
  <div class="d-flex justify-content-between align-items-center">
    <div class="flex-grow-1">
      <h5 class="mt-1 lh-base">{{ headerData().headerTitle }}</h5>
    </div>
    <div>
      @for (headerLink of headerData().headerLinks; track $index) { @if (headerLink.clickHandler) {
      <a
        id="{{ headerLink.id }}"
        class="{{ headerLink.linkClass }} me-2 lh-lg"
        [routerLink]="headerLink.routerLink"
        (click)="headerLink.clickHandler()"
        >{{ headerLink.label }}</a
      >
      } @else {
      <a
        id="{{ headerLink.id }}"
        class="{{ headerLink.linkClass }} me-2 lh-lg"
        [routerLink]="headerLink.routerLink"
        >{{ headerLink.label }}</a
      >
      } }
    </div>
    <div>
      @for (headerButton of headerData().headerButtons; track $index) {
      <button
        id="{{ headerButton.id }}"
        [innerHTML]="headerButton.label"
        type="{{ headerButton.type }}"
        class="{{ headerButton.buttonClass }} ms-2"
        [disabled]="headerButton.disabled"
        (click)="headerButton.clickHandler()"
      ></button>
      }
    </div>
  </div>
</div>
