<div class="ar-page-header p-2 ps-3">
  <div class="d-flex justify-content-between align-items-center">
    <div class="flex-grow-1">
      <h5 class="mt-1 mb-0">{{ headerData().headerTitle }}</h5>
    </div>
    <div class="me-2">
      @if (operationStatus().status === OP_SUCCESS) {
      <div>
        <span class="status-icon bi bi-check-circle d-inline-block me-2 text-success"></span
        ><span class="status-message text-success">{{ operationStatus().message }}</span>
      </div>
      } @else if (operationStatus().status === OP_FAILURE) {
      <div>
        <span class="status-icon bi bi-exclamation-circle d-inline-block me-2 text-danger"></span
        ><span class="status-message text-danger">{{ operationStatus().message }}</span>
      </div>
      }
    </div>
    @if (headerData().headerLinks.length > 0) {
    <div class="ms-3 me-2">
      @for (headerLink of headerData().headerLinks; track $index) { @if (headerLink.clickHandler) {
      <a
        id="{{ headerLink.id }}"
        class="{{ headerLink.linkClass }} lh-lg"
        [routerLink]="headerLink.routerLink"
        (click)="headerLink.clickHandler()"
        >{{ headerLink.label }}</a
      >
      } @else {
      <a
        id="{{ headerLink.id }}"
        class="{{ headerLink.linkClass }} me-2 lh-lg"
        [routerLink]="headerLink.routerLink"
        >{{ headerLink.label }}</a
      >
      } }
    </div>
    } @if (headerData().headerButtons.length > 0) {
    <div class="ms-3 me-2">
      @for (headerButton of headerData().headerButtons; track $index) {
      <button
        id="{{ headerButton.id }}"
        [innerHTML]="headerButton.label"
        type="{{ headerButton.type }}"
        class="{{ headerButton.buttonClass }}"
        [disabled]="headerButton.disabled"
        (click)="headerButton.clickHandler()"
      ></button>
      }
    </div>
    }
  </div>
</div>
