<app-page-header [headerData]="headerData"></app-page-header>
<div class="container-fluid p-3 ar-page-content-no-menubar overflow-y-auto">
  @if (client$ | async; as client) {
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h5 class="fw-bold pb-2 ar-heading">{{ client.name }}</h5>
      <p class="mb-0">{{ client.address1 }}</p>
      @if (client.address2) {
      <p class="mb-0">{{ client.address2 }}</p>
      }
      <p class="pb-4">{{ client.city }}, {{ client.state }} {{ client.zipCode }}</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <h5 class="fw-bold pb-2 ar-heading">Jobs</h5>
      @if (client.jobs && client.jobs.length) { @for (job of client.jobs; track $index) {
      <p class="mb-0">
        <a class="fw-bold" href="#" [routerLink]="`/jobs/${job.id}`">{{ job.id }}</a>
      </p>
      <p>
        @if (job.site) { @if (job.site.name) {
        {{ job.site.name }}<br />
        }
        {{ job.site.address1 }}<br />
        @if (job.site.address2) {
        {{ job.site.address2 }}<br />
        }
        {{ job.site.city }}, {{ job.site.state }} {{ job.site.zipCode }}
        }
      </p>
      } } @else {
      <p>Cannot find any jobs for this client.</p>
      }
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-contacts-table [rows]="rows" [columns]="columns"></app-contacts-table>
    </div>
  </div>
  }
</div>

<ng-template #nameTemplate let-row="row">
  @if (row.firstName && row.lastName) {
  {{ row.firstName }} {{ row.lastName }}
  }
</ng-template>
