<app-page-header [headerData]="headerData"></app-page-header>
<div class="container-fluid">
  <div class="row ar-page-content-buttonbar-no-menubar overflow-y-auto">
    <div class="col-sm-12 col-md-6 p-3">
      <div class="ar-art-detail__image-container">
        <img
          src="{{ artist.photo_path }}"
          class="img-fluid ar-rounded-start h-100"
          alt="{{ artist.name }}"
          title="{{ artist.name }}"
        />
      </div>
    </div>
    <div class="col-sm-12 col-md-6 p-3">
      <div class="row p-3">
        <h5 class="fw-bold pb-2 ar-heading">Name</h5>
        @if (artist.name) {
        <p class="pb-4">{{ artist.name }}</p>
        } @else {
        <p class="pb-4">Unknown</p>
        }
      </div>
      <div class="row p-3">
        <h5 class="fw-bold pb-2 ar-heading">Tags</h5>
        @if (artist.tags) {
        <p class="pb-4">{{ artist.tags }}</p>
        } @else {
        <p class="pb-4"></p>
        }
      </div>
    </div>
  </div>
  <app-buttonbar [buttonbarData]="buttonbarData"></app-buttonbar>
</div>

<div
  class="modal modal-first"
  id="confirmModal"
  tabindex="-1"
  aria-labelledby="confirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmModalLabel">Are you sure?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Are you sure you want to remove this artist from the system?</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal modal-first"
          (click)="onClickDelete()"
          data-bs-toggle="modal"
          data-bs-target="#resultModal"
        >
          Yes, delete
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal modal-second"
  id="resultModal"
  tabindex="-1"
  aria-labelledby="resultModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmModalLabel">Delete result</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal modal-second"
          aria-label="Close"
          (click)="goToArtistList()"
        ></button>
      </div>
      @if (deleteStatus === OP_SUCCESS) {
      <div class="modal-body">The artist was successfully deleted.</div>
      } @else {
      <div class="modal-body">There was an error, and the artist was not deleted.</div>
      }
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="goToArtistList()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
