.art-details-page-container {
  height: calc(100vh - var(--header-height));

  img {
    border: 1px solid var(--default-border-color-dark);
    border-radius: 3px;
    max-width: 250px;
    max-height: 250px;
  }

  .art-details-page-info {
    padding: 0 0 0 var(--default-padding);

    h4 {
      color: var(--default-text-color);
    }
  }

  .art-details-page-detail {
    padding: var(--default-padding);
  }
}
