.ar-navbar {
  // height: var(--ar-navbar-height);
  background-color: var(--ar-navbar-bg);
}

.ar-navbar-brand {
  color: var(--ar-navbar-brand-color);
  font-size: var(--ar-navbar-brand-font-size);
}

.ar-navbar .ar-nav-link {
  color: var(--ar-navlink-color);
}

.ar-navbar-toggler {
  background-color: var(--ar-navbar-toggler-color);
  border: none;

  &:focus {
    box-shadow: 0 0 0 1px;
  }
}
