.art-list-item {
  width: 300px;
  height: 100px;
  border: 1px solid var(--ar-border-color);
  border-radius: 6px;
  color: var(--ar-text-color-primary-light);

  img {
    object-fit: cover;
    width: 100px;
    height: 100%;
  }
}

.art-image {
  width: 100px;
  border-right: 1px solid #ccc;
}

.art-name {
  padding-bottom: 0.5rem;
  background-color: var(--ar-bg-color-primary-lightest);
  border-bottom: 1px solid var(--ar-border-color);
  font-weight: 700;
  font-size: 1.125rem;
}

.art-artist {
  padding-top: 0.5rem;
  font-style: italic;
}
