:root {
  --default-text-color: #666;
  --default-border-color: #ccc;
  --default-border-color-dark: #666;
  --default-padding: 1rem;
  --default-padding-half: 0.5rem;
  --header-height: 8rem;
  --explorer-list-header-height: 2.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}
