<app-page-header [headerData]="headerData"></app-page-header>
<ngx-datatable
  #jobsTable
  class="material"
  [rows]="rows"
  [columns]="columns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [rowHeight]="50"
  [scrollbarV]="true"
  (activate)="onActivate($event)"
>
  <ngx-datatable-row-detail [rowHeight]="50">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <div class="row-detail-container">
        <div>
          {{ row.client?.name }} &mdash; {{ row.address1 }}, @if (row.address2) {
          {{ row.address2 }}, } {{ row.city }}, {{ row.state }} {{ row.zip_code }}
        </div>
      </div>
    </ng-template>
  </ngx-datatable-row-detail>
</ngx-datatable>

<ng-template #arrowTemplate let-row="row" let-expanded="expanded">
  <a
    [class.bi-chevron-right]="!expanded"
    [class.bi-chevron-down]="expanded"
    title="Expand/Collapse Row"
    (click)="toggleExpandRow(row)"
    class="desktop-hidden bi"
  ></a>
</ng-template>

<ng-template #clientNameHeaderTemplate let-column="column">
  <span class="mobile-hidden">{{ column.name }}</span>
</ng-template>

<ng-template #clientNameTemplate let-row="row">
  <span class="mobile-hidden">
    {{ row.client?.name }}
  </span>
</ng-template>

<ng-template #jobAddressHeaderTemplate let-column="column">
  <span class="mobile-hidden">{{ column.name }}</span>
</ng-template>

<ng-template #jobAddressTemplate let-row="row">
  <span class="mobile-hidden">
    @if (row.site && row.site.city && row.site.state && row.site.zip_code) {
    {{ row.site.address1 }}, @if (row.site.address2) { {{ row.site.address2 }}, }
    {{ row.site.city }}, {{ row.site.state }}
    {{ row.site.zip_code }}
    }
  </span>
</ng-template>
