<app-page-header [headerData]="headerData.data"></app-page-header>
<div class="container-fluid">
  <div class="ar-page-content">
    <div class="row h-100 overflow-hidden">
      <div class="col-6 pt-3 h-100 overflow-y-auto">
        <div class="d-flex flex-wrap section-header art-header">
          <h5 class="fw-bold d-inline mt-1 ms-1 me-4">Art</h5>
          <input
            type="text"
            class="form-control form-control-sm mb-2"
            placeholder="Search..."
            [formControl]="searchArtControl"
          />
          <select
            class="form-select form-select-sm d-inline mb-2"
            [formControl]="selectArtistControl"
          >
            <option [value]="''">All artists</option>
            @for (artist of artists; track trackByArtistId(artist)) {
            <option [value]="artist.artist_id">{{ artist.name }}</option>
            }
          </select>
        </div>
        <div class="card-group pt-2">
          @if (art$ | async; as artwork) {
          <app-job-card
            [job_id]="WAREHOUSE_JOB_ID"
            [cardData]="{ clickHandler: noop }"
            [selectedArtistId]="selectedArtistId"
            [searchArtString$]="searchArtString$"
            [artistId$]="artistId$"
          ></app-job-card>
          }
        </div>
      </div>
      <div class="col-6 pt-3 h-100 overflow-y-auto">
        <div class="d-flex flex-wrap section-header jobs-header">
          <h5 class="fw-bold d-inline mt-1 ms-1 me-4">Jobs</h5>
          <select
            class="form-select form-select-sm d-inline mb-2"
            name="filter_client_id"
            id="filter_client_id"
            [(ngModel)]="selectedClientId"
            (change)="onSelectClient()"
          >
            <option value="All">All clients</option>
            @for (client of clients; track trackByClientId(client)) {
            <option value="{{ client.client_id }}">{{ client.name }}</option>
            }
          </select>
          <select
            class="form-select form-select-sm d-inline mb-2"
            name="filter_site_id"
            id="filter_site_id"
            [(ngModel)]="selectedSiteId"
            (change)="filterJobs()"
            #filterSite
          >
            <option value="All">All sites</option>
            <option value="{{ TBD }}">TBD</option>
            @for (site of filteredSites; track trackBySiteId(site)) {
            <option value="{{ site.site_id }}">{{ site.name }}</option>
            }
          </select>
        </div>
        <div class="card-group pt-2">
          @for (job of filteredJobs; track trackByJobId(job)) {
          <app-job-card
            [job_id]="job.job_id"
            [cardData]="{ clickHandler: goToJobDetail.bind(null, job.job_id) }"
          ></app-job-card>
          }
        </div>
      </div>
    </div>
  </div>
  <app-page-footer [footerData]="footerData"></app-page-footer>
</div>
